<div class="boo-card bg-white d-flex">
  <div class="boo-icon">
    <img src="assets/svg/{{type}}_card.svg"/>
  </div>
  <div class="d-flex flex-column">

    <span class="text-muted vehicle-id ">{{code.toUpperCase()}}</span>
    <p class="text-break vehicle-name">{{name.toUpperCase()}}</p>
    <span class="boo-info-location text-muted vehicle-id ms-n3">CLIQUE PARA VER O ITINERÁRIO
      <img src="assets/svg/location.svg" class="position-relative ms-2" height="12px">
      
    </span>
  </div>
</div>